#bk-booksborrow .add_book_btn {
    height: 42px;
    width: 42px;
    background: url(../img/add_new.png) no-repeat center;
}

#bk-booksborrow .clearMargin {
	text-align: right; 
	margin: 0;
}

#bk-booksborrow .clearMargin a {
	cursor: pointer;
}

#bk-booksborrow .thumbnail img {
	cursor: pointer;
}

#bk-booksborrow .green {
	color: #1db501;
}

#bk-booksborrow .red {
	color: red;
}

#bk-booksborrow .gray {
	color: #808080;
}

#bk-booksborrow .gainsboro {
	color: gainsboro;
}

#bk-booksborrow .img-box {
	display: inline-block; 
	height: 255px;
	width: 255px;
	float: right; 
	overflow: hidden;
	line-height: 255px;
	font-size: 22px;
}

#bk-booksborrow .icon-cancel-circle {
	position: absolute;
	right: 25px;
}

#bk-booksborrow .icon-cancel-circle:hover {
	color: #bbb;
	cursor: pointer;
}

#bk-booksborrow .img-box .upload {
	border-style: dashed; 
	height: 100%; 
	width: 100%;
	color: #ddd;
	font-size: 100px;
	text-align: center;
}
#bk-booksborrow .img-box .upload:hover {
	color: #ccc;
	cursor: pointer;
}

#bk-booksborrow .img-box img {
	width: 100%;
}